.chart_holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#analysis {
    text-align: center;
}
.cube {
    align-content: center;
    width: 1000px; 
    height: 800px;
}
.checker {
    text-align: center;
}